body { background: #c15436; margin: 0; font-family: sans-serif; }
.analytics-view { padding: 28px; display: flex; }
.block-filter-0 { color: #29aa48; font-size: 19px; margin-bottom: 5px; }
.block-router-1 { color: #1a5084; font-size: 12px; margin-bottom: 5px; }
.block-search-2 { color: #15f5db; font-size: 18px; margin-bottom: 5px; }
.block-config-3 { color: #66d66c; font-size: 17px; margin-bottom: 5px; }
.block-auth-4 { color: #e1605f; font-size: 21px; margin-bottom: 5px; }